* {
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #201b2c;
}

.container {
  max-width: 1380px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.main-login {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

/* .main-login {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
} */

.left-login {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.left-login h1 {
  color: #77ffc0;
}

.right-login {
  justify-content: center;
  align-items: center;
}

.card-login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 25px;
  background: #2f2841;
  border-radius: 20px;
}

.form-login {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.textfield label {
  display: block;
  margin-bottom: 5px;
}

.titulo-form-login {
  margin-bottom: 30px;
  color: #77ffc0;
}
